<div class="header">Header</div>
<div class="container">
  <div class="top">
    <div #topLeft class="left">
      <app-sub-pane [name]="'topLeft'" [array]="leftArray"></app-sub-pane>
    </div>
    <div #topRight class="right" (scroll)="onScroll($event, 'top-right')">
      <app-sub-pane [name]="'topRight'" [array]="rightArray"></app-sub-pane>
      <div id="scrollBufferRight" #scrollBufferRight></div>
    </div>
  </div>
  <div class="bottom">
    <div #bottomLeft class="left" (scroll)="onScroll($event, 'bottom-left')">
      <app-sub-pane [name]="'bottomLeft'" [array]="leftArray"></app-sub-pane>
      <div id = "scrollBufferBottom" #scrollBufferBottom></div>
    </div>
    <div #bottomRight class="right" (scroll)="onScroll($event, 'bottom-right')">
      <app-sub-pane [name]="'bottomRight'" [array]="rightArray"></app-sub-pane>
    </div>
  </div>

</div>
<div class="footer" (click)="click()">Footer {{currentPfx}}</div>
<!-- mouseWheel (mouseWheelUp)="mouseWheelUpFunc($event)" (mouseWheelDown)="mouseWheelDownFunc($event)" -->
