<div class="page">
  <div class="footer">
    Footer
  </div>
  <div class="page-header">
    <div class="header">
      Header
    </div>
    <div class="container">
      <div class="top">
        <div class="left">
          <!-- <div class="content-container"> -->
            <div class="content"></div>
          <!-- </div> -->
        </div>
        <div class="right">
          <!-- <div class="content-container"> -->
            <div class="content"></div>
          <!-- </div> -->
        </div>
      </div>
      <div class="bottom">
        <div class="left">
          <!-- <div class="content-container"> -->
            <div class="content"></div>
          <!-- </div> -->
        </div>
        <div class="right">
          <!-- <div class="content-container"> -->
            <div class="content"></div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>